In [10]:
import pandas as pd
import sqlite3

In [11]:
df = pd.read_csv('library_raw.csv')
df.head(2)

,the_geom,NAME,STREETNAME,HOUSENUM,CITY,ZIP,URL,BIN,BBL,X,Y,SYSTEM,BOROCODE
0,POINT (-73.95353074430393 40.80297988196676),115th Street,West 115th Street,203,New York,10026,http://www.nypl.org/locations/115th-street,1055236,1018310026,9.971151e+05,231827.652864,NYPL,1
1,POINT (-73.9348475633247 40.80301816141575),125th Street,East 125th Street,224,New York,10035,http://www.nypl.org/locations/125th-street,1054674,1017890037,1.002288e+06,231844.894956,NYPL,1

In [12]:
df['longitude'] = df.the_geom.str.extract(r"POINT [(](.*)[ ]").astype(float)

In [13]:
df['latitude'] = df.the_geom.str.extract(r"(\d+[.]\d+)[)]$").astype(float)

In [14]:
df['dbn'] = df.BIN

In [15]:
df.dtypes

the_geom       object
NAME           object
STREETNAME     object
HOUSENUM       object
CITY           object
ZIP             int64
URL            object
BIN             int64
BBL             int64
X             float64
Y             float64
SYSTEM         object
BOROCODE        int64
longitude     float64
latitude      float64
dbn             int64
dtype: object

In [16]:
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
cols

['dbn',
 'the_geom',
 'NAME',
 'STREETNAME',
 'HOUSENUM',
 'CITY',
 'ZIP',
 'URL',
 'BIN',
 'BBL',
 'X',
 'Y',
 'SYSTEM',
 'BOROCODE',
 'longitude',
 'latitude']

In [17]:
df = df[cols]
df.head(2)

,dbn,the_geom,NAME,STREETNAME,HOUSENUM,CITY,ZIP,URL,BIN,BBL,X,Y,SYSTEM,BOROCODE,longitude,latitude
0,1055236,POINT (-73.95353074430393 40.80297988196676),115th Street,West 115th Street,203,New York,10026,http://www.nypl.org/locations/115th-street,1055236,1018310026,9.971151e+05,231827.652864,NYPL,1,-73.953531,40.802980
1,1054674,POINT (-73.9348475633247 40.80301816141575),125th Street,East 125th Street,224,New York,10035,http://www.nypl.org/locations/125th-street,1054674,1017890037,1.002288e+06,231844.894956,NYPL,1,-73.934848,40.803018

In [18]:
df.to_csv('library.csv', index=False)

In [19]:
conn = sqlite3.connect('libraries.db')

In [20]:
df.to_sql('libraries', conn)